@import '../../_css/common';

.introContent {
  position: relative;
  margin-bottom: calc(var(--base));
}

.grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  width: fit-content;
  border-radius: 8px;
  gap: 0 4px;
}

.column {
  grid-column-end: span 12;
  width: fit-content;
  border-radius: 8px;
}

.cols-half {
  grid-column-end: span 6;

  @include mid-break {
    grid-column-end: span 6;
  }

  @include small-break {
    grid-column-end: span 6;
  }
}

.cols-thirds {
  grid-column-end: span 3;

  @include mid-break {
    grid-column-end: span 6;
  }

  @include small-break {
    grid-column-end: span 6;
  }
}
